<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daughters Of Mary Mother of Mercy</title>

    <meta content="Daughters Of Mary Mother of Mercy, To work for the glory of God, the honour of the ever Blessed Virgin Mary, for the sanctification of its members and the salvation of souls" name="description">
    <meta content="online, bulletin, mass, sunday reading, missal, prayer, fasting, feast, st, dmmm, daughets, mary, mother, mercy, congregation, congromorate, genorate, convent, convention" name="keywords">
    <meta content="dmmm" name="author">
    <meta content="English" name="language">
    <link rel="canonical" href="https://www.dmmmg.org/">
    <link rel="alternate" href="https://www.dmmmg.org/" hreflang="en-us">
    <meta property="og:title" content="Daughters Of Mary Mother of Mercy">
    <meta property="og:description" content="Daughters Of Mary Mother of Mercy | To work for the glory of God, the honour of the ever Blessed Virgin Mary, for the sanctification of its members and the salvation of souls">
    <meta property="og:url" content="https://www.dmmmg.org/">
    <meta property="og:site_name" content="Daughters Of Mary Mother of Mercy">
    <meta property="og:image" content="https://dmmmg.org/Content/dmmblue.png">
    <meta property="og:locale" content="en_us">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="Summery">
    <meta name="twitter:site" content="https://www.dmmmg.org/">

    <meta name="language" content="en-us">
    <meta name="owner" content="dmmm">
    <meta name="distribution" content="GLOBAL">
    <meta name="city" content="Abia">
    <meta name="country" content="NG">
    <meta name="geo.placename" content="Abia">
    <meta name="rating" content="general">
    <meta name="copyright" content="Daughters Of Mary Mother of Mercy copyright © 2019">
    <meta name="DC.Publisher" content="Daughters Of Mary Mother of Mercy">


    <link type="text/css" rel="stylesheet" href="/ichnaea/cl2/freeform/WebsiteDetect?source=wwwhead&amp;fetchType=css&amp;modalView=nmLanding">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

    <link rel="shortcut icon" href="~/Content/images/mother-of-mercy.png">
    <link type="text/css" rel="stylesheet" href="~/Content/Assest/dove.css">

</head>
<body>
    <div>

        <div class="basicLayout nmLanding dark" lang="en-NG" dir="ltr">
           
            @*<div class="nfHeader signupBasicHeader"><a href="@Url.Action("Index", "Home")" class="xyz-nfLogo BasicHeader"><span class="xyz-logo">DMMM NIG</span></a></div>*@
            <div class="nfHeader signupBasicHeader"><a href="@Url.Action("Index", "Home")" class="svg-nfLogo signupBasicHeader">
                                                        <img src="~/Content/dmmblue.png" style="max-width:300px;" class="svg-icon svg-icon-netflix-logo "/>
                  </a></div>
          
            <div class="home-wrapper dark">
                <div class="concord concord-with-tin concord-with-title is-former-member">
                    <div class="wrap">
                        <div class="bg" id="main-creative">
                            <div class="creative-wrapper">
                                <div class="image active">
                                    <div class="concord-img-wrapper">
                                        @*<img class="concord-img vlv-creative" src="https://assets.nflxext.com/ffe/siteui/vlv3/6ad05200-fe69-489a-b15b-6ee6228d98cf/3d64aa6e-7725-4092-9176-f00c4ef001cd/NG-en-20180305-popsignuptwoweeks-perspective_alpha_website_small.jpg" srcset="https://assets.nflxext.com/ffe/siteui/vlv3/6ad05200-fe69-489a-b15b-6ee6228d98cf/3d64aa6e-7725-4092-9176-f00c4ef001cd/NG-en-20180305-popsignuptwoweeks-perspective_alpha_website_small.jpg 1000w, https://assets.nflxext.com/ffe/siteui/vlv3/6ad05200-fe69-489a-b15b-6ee6228d98cf/3d64aa6e-7725-4092-9176-f00c4ef001cd/NG-en-20180305-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w, https://assets.nflxext.com/ffe/siteui/vlv3/6ad05200-fe69-489a-b15b-6ee6228d98cf/3d64aa6e-7725-4092-9176-f00c4ef001cd/NG-en-20180305-popsignuptwoweeks-perspective_alpha_website_large.jpg 1800w" alt="">*@

                                        @if (Request.Browser.IsMobileDevice)
                                        {
                                            <img class="concord-img vlv-creative" src="~/Content/images/DMM/mobiledmmmg.jpeg" srcset="~/Content/images/DMM/mobiledmmmg.jpeg 1000w, ~/Content/images/DMM/mobiledmmmg.jpeg 1500w, ~/Content/images/DMM/mobiledmmmg.jpeg 1800w" alt="">

                                        }
                                        else
                                        {
                                            <img class="concord-img vlv-creative" src="~/Content/images/DMM/webdmmmg.jpeg" srcset="~/Content/images/DMM/webdmmmg.jpeg 1000w, ~/Content/images/DMM/webdmmmg.jpeg 1500w, ~/Content/images/DMM/webdmmmg.jpeg 1800w" alt="">

                                        }
                                    </div>

                                    
                                    <div class="concord-img-gradient"></div></div>
                             
                                
                                </div>
                            </div>
                        </div><div class="cta-wrapper">
                            <div class="cta-text"><h3 class="cta-pitch">Daughters of Mary Mother of Mercy Congregation</h3><p class="cta-pricing">Ecce Ancilla Domini-Fiat</p></div><div></div><div class="cta-link-wrapper">
                               
                        @Html.ActionLink("Continue", "Main", "Home", null, new { @class= "btn hero-cta-btn btn-large btn-red" })
                            </div>
                        </div>
                    </div>
                </div>
                <span></span>
            </div>
        </div>
    </div>
  
    @RenderBody()
</body>
</html>

